version: '3.8'
services:
  app:
    build: .
    container_name: quizard_app
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
    networks:
      default:
        aliases:
          - app
  nginx:
    image: nginx:stable-alpine
    container_name: quizard_nginx
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
